@media screen and (max-width: 1024px) {
    .header-item nav {
        display: none !important;
    }

    .icon {
        display: none !important;
    }

    button {
        display: none !important;
    }

    .fa-nav-bar {
        display: block !important;
    }


    .header-item {
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 184px !important;
        margin: auto;
        justify-content: space-around !important;
        justify-content: none;
    }

    .logo {
        margin-right: unset !important;
    }


    .section-inner .img-txt {
        display: none !important;
    }


    .section-inner .img-txt {
        display: block !important;
        text-align: center;
        margin-top: 60px;
    }



    .header-item {
        width: 100% !important;
        display: flex;
        align-items: center;
        column-gap: 0px;
        margin: auto;
        justify-content: space-evenly;
    }


    .section-inner {
        width: 100% !important;
        margin: auto;
        /* background-color: brown; */
        display: flex;
        /* height: 520px; */
        /* justify-content: space-evenly; */
        align-items: center;
        flex-direction: column;
    }

    .section-inner .left-side h2 {
        font-size: 8vw !important;
        text-align: center;
        margin-top: 25px;
    }

    .section-inner .left-side p {

        font-size: 3vw !important;
        margin-top: 22px;
        text-align: center;
        padding: 15px 1px !important;

    }

    .section-inner .right-side img {
        /* width: 340.839px !important; */
        /* height: 350.51px !important; */
        flex-shrink: 0;
        margin-top: 60px;
    }

    .section-two .container {
        width: 45% !important;
    }


    .section-two {
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
        align-items: center;
        /* height: 800px; */
        padding: 50px 0px;
        width: unset !important;
        /* margin: auto; */
    }

    .dots {
        display: none !important;
    }

    .section-three {
        width: 100% !important;
        margin: auto;
        padding-top: 60px;
    }

    .section-four {
        width: 90% !important;
    }

    .section-five {
        width: 100% !important;
        margin: auto;
        padding: 15px 0px;
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    .section-five .heading-arrow {
        
        margin-bottom: unset !important;
    }

    .section-five .right-box {
        margin-bottom: 20px !important;
    }

    .section-five .heading-arrow {
        display: flex;
        justify-content: none !important;
        padding: 0px 0px;
        column-gap: 0px;
        margin-bottom: 0px;
        justify-content: center !important;
        align-items: center;
        flex-direction: column !important;
        margin-bottom: 45px;
    }

    .section-three .cont-one img {
        height: unset !important;
    }

    .section-three .section-three-inner {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap !important;
    }

    .section-three .cont-one {
        width: 44% !important;
        height: unset !important;
        /* background-color: #f5f1f1; */
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 2px solid #ededed;
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgb(189, 185, 185);
        text-transform: uppercase;
        margin-top: 25px;
    }

    .dots-img {
        display: flex;
        margin: auto;
        align-items: center;
        gap: 5px;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .footer .ft-cont-one {
        width: unset !important;
    }


}









@media screen and (max-width: 480px) {
    .header-item nav {
        display: none !important;
    }

    .icon {
        display: none !important;
    }

    button {
        display: none !important;
    }

    .fa-nav-bar {
        display: block !important;
    }


    .header-item {
        width: 100% !important;
        display: flex;
        align-items: center;
        column-gap: 0 !important;
        margin: auto;
        justify-content: space-between;
        justify-content: center;
    }

    .logo {
        margin-right: unset !important;
    }


    .section-inner .img-txt {
        display: none !important;
    }



    .section-inner {
        width: 100% !important;
        margin: auto;
        /* background-color: brown; */
        display: flex;
        /* height: 520px; */
        /* justify-content: space-evenly; */
        align-items: center;
        flex-direction: column;
    }


    .section-inner .left-side h2 {
        font-size: 12vw !important;
        text-align: center;
        margin-top: 70px;
    }

    .section-inner .left-side p {
        font-size: 5vw !important;
        margin-top: 22px;
        text-align: center;
        padding: 0px 30px !important;
    }

    .section-inner .right-side img {
        /* width: 340.839px !important; */
        height: 350.51px !important;
        flex-shrink: 0;
        margin-top: 60px;
    }



    .section-two .container {
        width: 80% !important;
        /* height: 370px; */
        flex-shrink: 0;
        background-color: #fff;
        border-radius: 5px;
        /* box-shadow: 3px 2px 3px rgb(104, 101, 101); */
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        transition: 0.6s;
    }

    .section-two .cont-txt-box {
        padding-top: unset !important;
        padding-bottom: unset !important;

    }

    .section-one .left-side {
        margin-left: unset !important;
    }

    .section-one .right-side {
        margin-right: unset !important;
    }

    .section-three .heading-arrow {
        display: block;
        justify-content: none;
        padding: 0px 0px;
    }

    .section-three .heading-arrow {
        display: flex;
        /* justify-content: space-between; */
        padding: unset !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-three .cont-one {
        width: 85% !important;
        height: 280px;
        /* background-color: #f5f1f1; */
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 2px solid #ededed;
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgb(189, 185, 185);
        text-transform: uppercase;
        margin-top: 25px;
        padding: 0px 0px !important;
        margin: auto;
    }

    .section-three .section-three-inner {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-direction: column !important;
    }

    .section-four {
        margin: auto;
        display: flex;
        justify-content: center;
        margin-top: 85px;
        padding-bottom: 50px;
        width: 90% !important;
    }

    .section-five .sectin-five-inner {
        display: flex;
        /* justify-content: space-around; */
        column-gap: 30px;
        flex-direction: column !important;
    }

    .section-five .right-box {
        width: 250px !important;
        height: unset !important;
        border: 2px solid #ededed;
    }

    .section-two span {
        background: #C6866B;
        font-size: 14px;
        color: #fff;
        margin-top: 140px !important;
        margin-left: -10px;
        position: absolute;
        padding: 5px 10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .dots-img {
        display: flex;
        margin: auto;
        align-items: center;
        gap: 5px;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    .social-media-main{
        display: none !important;
    }


    .footer-main {
        width: 100%;
        background: #363636;
        margin-top: 45px !important;
    }

    .footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 85px 0px;
        color: #fff;
        line-height: 2;
        flex-direction: column !important;
    }

    .footer .footer-txt {
        display: none !important;
    }

    .footer .ft-cont-one {
        width: 80% !important;
        text-align: center;
    }

    .footer-main .payment{
        display: none !important;
    }

    .footer-main .privacy {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        padding: unset !important;
        font-size: 13px !important;
    }
}